body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #38bdf8;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}
